html {
  padding: 0;
  color: rgb(50, 50, 50);
  background: rgb(220, 220, 220);
}
body {
  box-sizing: border-box;
  width: 60%;
  min-width: 400px;
  margin: 0 auto;
  box-shadow: 5px 5px 15px black;
  text-align: center;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  background: white;
}
a {
  color: rgb(50, 50, 50);
}
a:hover {
  color: rgb(69, 167, 231);
}

header {
  margin: 0 auto;
}

h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 32px;
}

hr {
  width: 80%;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.linebreak {
  width: 80%;
  border-bottom: 1px solid grey;
}

#intro {
  margin: 0 auto;
  text-align: left;
  width: 60%;
  list-style-position: inside;
}
